
.navbar-brand {
    float: none;
    padding: 5px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.nav-menu{
    display: inline;
}
.navbar-header img {
    max-height: 350%;
 
    
}
.navbar{
    height: 15vh;
 

}


  

.navbar-custom{
    background-color:#00334E;
    
}
.active{
    color:red !important;
}
.nav-link{
    color:white ;
    font-size: 2.5vh;
    
}